$header_font: "Droid Sans", sans-serif;
$body_font: "Droid Serif", serif;

$blue: #428bca;

$light_grey: #EBEBEB;
$light_blue: #DFEDFF;

$grey_highlight: $light_grey;
$color_highlight: $light_blue;

$link_color: $blue;
