@import "colours.scss";

html {
  font-size: 14px;
}

body {
  margin-top:5rem;
  font-family: $header_font;
  font-size: 1rem;
}

a {
  color: $link_color;
  
  &:visited {
    text-decoration:underline;
  }
  
  &:hover {
    color: darken($link_color, 20%);
    text-decoration:underline;
  }

  &:link {
    text-decoration:underline;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $header_font;
  font-weight: 300;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  text-rendering: geometricPrecision;
}
    
h1 {
  font-size: 5rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

h1:first-child {
  margin-top: 0em;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p, address, ul, td {
  font-family: $body_font;
  line-height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

p {
  margin-top: 2rem;
}

article {
  p {
    text-align:justify;
  }
}

strong, bold {
  font-weight: 700;
}

div.logoface_small {
    font-size: 2rem;
    font-weight: 300;

    img.my_face {
        border-radius:2rem;
        width:4rem;
        margin-right:1rem;
    }
}
