@import "default.scss";

$color_highlight: #C53B3B;

body {
  margin-top:0; 
}

a {
  color: darken($color_highlight, 15%);

  &:visited {
    color: darken($color_highlight, 10%);
  }

  &:link {
    color: darken($color_highlight, 15%);
  }
}

.content {
  h1, h2, h3, h4, h5 {
    &:first-child {
      margin-top:0;
    }
  }
}

.sidebar {
  text-align:center;

  h1 {
    margin-top:0;
  }

  h3 {
    margin-top:0;
  }

  ul {
    list-style:none;
    padding:0;

    li {
      a.link {
        margin-bottom: 5px;
        padding: 10px;
        display: block;
        background: lighten($color_highlight, 40%);
      }
    }
  }
}

.top-bar {
  background:#2a3836;
  padding:0.25em;
  color:white;

  .inner {
    width:1170px;
    margin:auto;
  }

  a {
    &:link {
      color:white;
    }
    
    &:visited {
      color:white;
    }
    
    text-decoration:underline;
  }
}

.magres_heder {
  background:url('/images/magres_heder.png');
  background-color: $color_highlight;
  padding:1em;
  height:15em;
  margin-bottom:2em;
  color:white;

  .inner {
    width:1170px;
    margin:auto;
    vertical-align:bottom;
    
    h1 {
      margin-top: 3.9em;
      margin-left: 25%;
      margin-right: 25%;
    }
  }
}
