html {
  font-size: 14px; }

body {
  margin-top: 5rem;
  font-family: "Roboto Slab", serif;
  font-size: 1rem; }

a {
  color: #428bca; }
  a:visited {
    text-decoration: underline; }
  a:hover {
    color: #245682;
    text-decoration: underline; }
  a:link {
    text-decoration: underline; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  text-rendering: geometricPrecision; }

h1 {
  font-size: 5rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem; }

h1:first-child {
  margin-top: 0em; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.5rem; }

p, address, ul, td {
  font-family: "Helvetica", sans-serif;
  line-height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem; }

p {
  margin-top: 2rem; }

article p {
  text-align: justify; }

strong, bold {
  font-weight: 700; }

div.logoface_small {
  font-size: 2rem;
  font-weight: 300; }
  div.logoface_small img.my_face {
    border-radius: 2rem;
    width: 4rem;
    margin-right: 1rem; }

.footer {
  margin-top: 50px;
  background: #333;
  color: white;
  font-family: "Roboto Slab", serif; }
  .footer p {
    margin-bottom: 0.5rem; }
  .footer .footer-left {
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: right; }
  .footer .footer-right {
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: left; }
  .footer a:link, .footer a:visited {
    color: white; }

body {
  margin-top: 0; }

a:link {
  color: #8b2929; }
a:hover {
  color: #631d1d; }
a:visited {
  color: #8b2929; }
a:active {
  color: #8b2929; }

.content {
  padding: 4rem; }
  .content p {
    line-height: 2; }
  .content h1, .content h2, .content h3, .content h4, .content h5 {
    margin-bottom: 1em; }
    .content h1:first-child, .content h2:first-child, .content h3:first-child, .content h4:first-child, .content h5:first-child {
      margin-top: 0rem; }

.sidebar {
  text-align: center;
  padding-top: 4rem; }
  .sidebar h1 {
    margin-top: 0; }
  .sidebar h3 {
    margin-top: 0; }
  .sidebar ul {
    list-style: none;
    padding: 0; }
    .sidebar ul li.group {
      padding: 10px;
      border: 1px solid #eee;
      margin-bottom: 5px; }
    .sidebar ul li a {
      margin-bottom: 5px;
      padding: 10px;
      display: block; }
      .sidebar ul li a:hover {
        color: #631d1d; }
      .sidebar ul li a.link {
        background: #f4d8d8; }
      .sidebar ul li a.external {
        border: 1px solid #eee; }

.top-bar {
  background: #2a3836;
  padding: 0.25em;
  color: white; }
  .top-bar .inner {
    width: 1170px;
    margin: auto; }
  .top-bar a {
    text-decoration: underline; }
    .top-bar a:link {
      color: white; }
    .top-bar a:visited {
      color: white; }

.magres_heder {
  background: url("/images/magres_heder.png");
  background-color: #C53B3B;
  margin-bottom: 20px;
  color: white; }
  .magres_heder .inner h1 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    line-height: 2;
    padding-left: 4rem; }

code[data-lang="text"]:parent {
  background: none;
  border: 0; }

.stream pre {
  background: none; }
