@import "default.scss";
@import "footer.scss";

$color_highlight: #C53B3B;
$link_color: darken($color_highlight, 15%);

body {
  margin-top:0; 
}

a {
  &:link {
    color: $link_color;
  }

  &:hover {
    color: darken($link_color, 10%);
  }

  &:visited {
    color: $link_color;
  }
  
  &:active {
    color: $link_color;
  }
}

.content {
  padding: 4rem;

  p {
    line-height: 2;
  }

  h1, h2, h3, h4, h5 {
    margin-bottom:1em;

    &:first-child {
      margin-top:0rem;
    }
  }
}

.sidebar {
  text-align:center;
  padding-top: 4rem;

  h1 {
    margin-top:0;
  }

  h3 {
    margin-top:0;
  }

  ul {
    list-style:none;
    padding:0;

    li {
      &.group {
        padding:10px;
        border: 1px solid #eee; 
        margin-bottom: 5px;
      }

      a {
        margin-bottom: 5px;
        padding: 10px;
        display: block;
          
        &:hover {
          color: darken($link_color, 10%);
        }

        &.link {
          background: lighten($color_highlight, 40%);
        }

        &.external {
          border: 1px solid #eee;
        }
      }
    }
  }
}

.top-bar {
  background:#2a3836;
  padding:0.25em;
  color:white;

  .inner {
    width:1170px;
    margin:auto;
  }

  a {
    &:link {
      color:white;
    }
    
    &:visited {
      color:white;
    }
    
    text-decoration:underline;
  }
}

.magres_heder {
  background:url('/images/magres_heder.png');
  background-color: $color_highlight;
  margin-bottom:20px;
  color:white;

  .inner {
    h1 {
      margin-top: 5rem;
      margin-bottom: 2rem;
      line-height: 2;
      padding-left: 4rem;
    }
  }
}

code[data-lang="text"]:parent {
  background:none;
  border:0;
}

.stream pre {
  background: none;
}
