.footer {
  margin-top: 50px;
  background: #333;
  color: white;
  font-family: "Roboto Slab", serif; }
  .footer .footer-left {
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: right; }
  .footer .footer-right {
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: left; }
  .footer a:link, .footer a:visited {
    color: white; }

a {
  color: #428bca; }
  a:visited {
    text-decoration: underline; }
  a:hover {
    color: #245682;
    text-decoration: underline; }
  a:link {
    text-decoration: underline; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  text-rendering: geometricPrecision; }

h1:first-child {
  margin-top: 0em; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.5rem; }

p, address, ul, td {
  font-family: "Helvetica", sans-serif;
  line-height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem; }

article p {
  text-align: justify; }

strong, bold {
  font-weight: 700; }

html {
  font-size: 14px; }

body {
  margin-top: 5rem;
  font-family: "Roboto Slab", serif;
  font-size: 1rem; }

.index {
  margin-bottom: 10rem; }

.container {
  min-height: 768px; }

ul#leftnav {
  margin: 0;
  margin-top: 2em;
  padding: 0;
  list-style: none; }
  ul#leftnav li a:link {
    display: block;
    padding: 1em;
    background: #E0F0FA;
    border-radius: 5px;
    color: #517DA3;
    text-decoration: none;
    text-align: center;
    margin-bottom: 1em; }

ul.links {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  list-style: none; }
  ul.links li {
    display: inline;
    float: left; }
    ul.links li a {
      display: block;
      padding: 1rem; }

ul.github {
  list-style: none;
  padding: 0; }
  ul.github li a.link {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #eee;
    display: block;
    background: #DFEDFF; }

.logoface {
  text-align: center; }
  .logoface img.my_face {
    border-radius: 5rem;
    width: 10rem; }

.logoface_small {
  font-size: 2rem;
  font-weight: 300; }
  .logoface_small img.my_face {
    border-radius: 2rem;
    width: 4rem;
    margin-right: 1rem; }

h1 {
  font-size: 5rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem; }

p.block-highlight {
  background: #EBEBEB;
  color: #003;
  padding: 10px;
  border-radius: 5px; }

ul.publications {
  list-style: none;
  padding: 0; }
  ul.publications li {
    margin-bottom: 20px;
    font-size: 1.0em; }
    ul.publications li span.me {
      text-decoration: underline; }

.col-right {
  text-align: center; }
  .col-right address {
    text-align: right;
    border: 1px solid #eee;
    display: inline-block;
    padding: 10px; }

div.logotype {
  line-height: 40px; }
  div.logotype p {
    font-size: 40px;
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-weight: bold; }
    div.logotype p a:link, div.logotype p a:visited {
      color: black;
      text-decoration: none; }
  div.logotype img {
    height: 40px; }

img.thesis_front {
  border: 1px solid #eee;
  box-shadow: 2px 2px 1px #dddddd; }

div.post h1 {
  border-bottom: 4px solid #FF0064;
  margin-bottom: 4rem; }
div.post h1, div.post h2, div.post h3, div.post h4, div.post h5, div.post p, div.post ul, div.post table, div.post div.highlight {
  width: 70%;
  margin-left: 5%; }
div.post table {
  border-collapse: collapse;
  margin-top: 1.5rem;
  margin-bottom: 2rem; }
  div.post table.wide {
    width: 90%;
    margin-left: 0; }
  div.post table td, div.post table th {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem; }
