div.post {
    h1 {
        border-bottom: 4px solid #FF0064;
        margin-bottom: 4rem;
    }

    h1, h2, h3, h4, h5, p, ul, table, div.highlight, iframe, div.caption, p.quote {
        width: 100%;
    }

    @media (min-width: 1024px) {
        h1, h2, h3, h4, h5, p, ul, table, div.highlight, iframe, div.caption, p.quote {
            width: 70%;
            margin-left: 5%;
        }
    }

    img {
        width: 100%;
        box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
    }

    p.quote {
        font-size: 1.4rem;
        text-align: center;
    }

    div.caption {
        text-align: center;
        margin-bottom: 2rem;
    }

    table {
        border-collapse: collapse;
        margin-top: 1.5rem;
        margin-bottom: 2rem;

        &.wide {
            width: 90%;
            margin-left: 0;
        }

        td, th {
            border: 1px solid #ccc;
            padding: 0.5rem 1rem;
        }
    }

    div.barchart {
        width: 75%;
        height: 300px;

        svg {
            path.line {
                fill: none;
                stroke: #333;
                stroke-width: 2;
            }

            /* neutral */
            // 2 Unknown → Not standing
            path.line-2 {
                stroke: #FC3;
            }
           
            // 3 Unknown → Standing
            path.line-3 {
                stroke: #FC3;
                stroke-dasharray: 5,5;
            }
            
            /* Correct */
            // 4 Standing → Standing
            path.line-4 {
                stroke: #3F3;
            }
            
            // 5 Not standing → Not standing
            path.line-5 {
                stroke: #3F3;
                stroke-dasharray: 5,5;
            }

            /* Wrong */            
            // Not standing → Standing
            path.line-1 {
                stroke: #F33;
                stroke-dasharray: 5,5;
            }

            // 6 Standing (wrong constituency) → Standing
            path.line-6 {
                stroke: #C6C;
            }

            // 7 Standing → Not standing
            path.line-7 {
                stroke: #F33;
            }
            
            path.domain {
                fill: none;
                stroke: #999;
            }

            rect.bar {
                fill: #3D83FB;
                stroke: none;
            }
        }
    }    
}
