<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->

    <!--<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>-->
    <link href='/fonts/droid_serif.css' rel='stylesheet' type='text/css'>
    <link href='/fonts/droid_sans.css' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/{{ page.css }}" />
    <link rel="stylesheet" href="/css/syntax.css" />
  </head>
  <body>
    {{ content }}
  </body>
</html>

