---
layout: default
---

<style>
body {
  margin-top:0; 
}

h1 {
  margin-top:0;
}

h3 {
  margin-top:0;
}
</style>

<div style="background:#2a3836;padding:0.25em;">
      <!--<img src='/images/my_face.jpg' class='my_face' style='float:left;'/>-->
  <a href='/' style='color:white;float:right;text-decoration:none;'>Tim Green</a>
  <div style='clear:both;'></div>
</div>

<div style="background:url('/images/magres_heder.png');padding:1em;height:15em;margin-bottom:2em;">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar">
        <h3>Documentation</h3>
        <ul>
          <li><a href='/magres-python/'>Introduction</a></li>
          <li><a href='/magres-python/install/'>Installation</a></li> 
          <li><a href='/magres-python/scripts/'>Scripts</a></li> 
        </ul>

        <p><a href='https://github.com/tfgg/magres-format'>Available on Github</a>.</p>
        
      </div>
      <div class="col-md-6">
      {{ content }}
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row footer">
    <div class='col-md-6 footer-left'>
      <p><a href='mailto:timothy.green@gmail.com'>timothy.green@gmail.com</a></p>
      <p><a href='http://twitter.com/tfgg2' target="_blank">Twitter @tfgg2</a></p>
      <p><a href='http://github.com/tfgg' target='_blank'>Github tfgg</a></p>
    </div>
    <div class='col-md-6 footer-right'>
      <address>
      Department of Materials<br/>
      University of Oxford<br/>
      Parks Road<br/>
      Oxford OX1 3PH<br/>
      UK
      </address>
    </div>
  </div>
</div>

