---
layout: default
css: magres.css
---

<div class="top-bar"><div class="inner">
  <a href='/'>Tim Green</a> / MagresPython
</div></div>

<div class="magres_heder"><div class="inner">
<h1>The MagresPython library <a href='/magres-python/install/' style='float:right;' class='btn btn-default'>install</a></h1>
</div></div>

<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar">
        <h3>Documentation</h3>
        <ul>
          <li><a class='link' href='/magres-python/'>Introduction</a></li>
          <li><a class='link' href='/magres-python/install/'>Installation</a></li> 
          <li><a class='link' href='/magres-python/scripts/'>Scripts</a></li> 
        </ul>

        <p><a href='https://github.com/tfgg/magres-format'>Available on Github</a>.</p>
        
      </div>
      <div class="col-md-6">
      {{ content }}
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row footer">
    <div class='col-md-6 footer-left'>
      <p><a href='mailto:timothy.green@gmail.com'>timothy.green@gmail.com</a></p>
      <p><a href='http://twitter.com/tfgg2' target="_blank">Twitter @tfgg2</a></p>
      <p><a href='http://github.com/tfgg' target='_blank'>Github tfgg</a></p>
    </div>
    <div class='col-md-6 footer-right'>
      <address>
      Department of Materials<br/>
      University of Oxford<br/>
      Parks Road<br/>
      Oxford OX1 3PH<br/>
      UK
      </address>
    </div>
  </div>
</div>

