---
layout: default
css: main.css
---

<div class="container page">
  <div class="row">
    <div class="col-md-2">
      <div class='logoface_small'>
        <a href='/'>Tim Green</a>
      </div>
    </div>
    <div class="col-md-10">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row footer">
    <div class='col-md-6 footer-left'>
      <p><a href='mailto:timothy.green@gmail.com'>timothy.green@gmail.com</a></p>
      <p><a href='http://twitter.com/tfgg2' target="_blank">Twitter @tfgg2</a></p>
      <p><a href='http://github.com/tfgg' target='_blank'>Github tfgg</a></p>
    </div>
    <div class='col-md-6 footer-right'>

    </div>
  </div>
</div>

