---
layout: default
css: main.css
---

<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar">
      <div class='logotype'>
      <img src='/images/my_face.jpg' class='my_face' style='float:left;'/>
      <p><a href='/'>Tim Green</a></p>
      </div>

      </ul>
    </div>
    <div class="col-md-6">
      {{ content }}
    </div>
    <div class="col-md-3">
      {{ right_content }}
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row footer">
    <div class='col-md-6 footer-left'>
      <p><a href='mailto:timothy.green@gmail.com'>timothy.green@gmail.com</a></p>
      <p><a href='http://twitter.com/tfgg2' target="_blank">Twitter @tfgg2</a></p>
      <p><a href='http://github.com/tfgg' target='_blank'>Github tfgg</a></p>
    </div>
    <div class='col-md-6 footer-right'>
      <address>
      Department of Materials<br/>
      University of Oxford<br/>
      Parks Road<br/>
      Oxford OX1 3PH<br/>
      UK
      </address>
    </div>
  </div>
</div>

